* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Sogeo UI',
						Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
						'Helvetica Neue', sans-serif;
    color: #333;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto;
}

header{
    border-bottom: 2px solid;
}

.loadingMaster{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.loading{
    font-size: 40px;
    visibility: hidden;
    animation: spin 1.5s linear infinite;
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}

.show{
    visibility: visible;
}

.letters-grid{
    max-width: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 0px auto;
    row-gap: 10px;
    column-gap: 10px;
}

.letter-box{
    height: 45px;
    width: 45px;
    border: 3px solid lightgray;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.correct{
    background-color: darkgreen;
    color: white;
}

.close{
    background-color: goldenrod;
    color: white;
}

.wrong{
    background-color: #888;
    color: white;
}

.invalid{
    animation: flash 1s;
}

@keyframes flash{
    0% {
        border-color: crimson;
    }
    100% {
        border-color: lightgray;
    }
}